@charset "utf-8";
/* -=-=-=-=-=-=-=-=-=-=-=- CSS Document -=-=-=-=-=-=-=-=-=-=- */
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #000000;
	font-size: 14px;
	font-family: "ＭＳ Ｐゴシック",Osaka,sans-serif,Arial,Helvetica,sans-serif;
	text-align: center;
	line-height: 1.4;
	background-color: #FFFFFF;
	width: 100%;
	min-width: 969px;
	_width: expression(document.body.clientWidth < 972? "969px" : "auto");
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
li {
	list-style: none;
}
img {
	border-style: none;
	vertical-align: bottom;
}
sup {
	line-height: 1;
}

/* -=-=-=-=-=-=-=-=-=-=-=- header -=-=-=-=-=-=-=-=-=-=- */
#header {
	font-size: 12px;
	background-image: url(../img/header/bg.png);
	background-position: center 37px;
	background-repeat: repeat-x;
	position: relative;
	width: 100%;
	height: 124px;
}
#header h1 ,
#header div ,
#header a.lng ,
#header a.logo {
	position: absolute;
}
#header h1 ,
#header a.logo {
	left: 50%;
}
#header h1 {
	font-size: 10px;
	top: 7px;
	margin-left: -484px;
}
#header div ,
#header a.lng {
	right: 50%;
}
#header div {
	margin-right: -395px;
	margin-top: 9px;
}
#header a.lng {
	margin-right: -484px;
}
#header a.logo {
	top: 47px;
	margin-left: -484px;
}
#header input.gs_form {
	height: 11px;
	margin-right: 2px;
}


/* -=-=-=-=-=-=-=-=-=-=-=- menu -=-=-=-=-=-=-=-=-=-=- */
#menu {
	text-align: center;
	background-image: url(../img/menu/bg.png);
	background-position: center;
	background-repeat: repeat-x;
	width: 100%;
	height: 53px;
}
#menu a.menu_btn {
	display: none;
}
#menu ul {
	border-left-style: solid;
	border-left-color: #DDDDDD;
	border-left-width: 1px;
	width: 969px;
	height: 49px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	_margin: 0px;
}
#menu ul li {
	border-style: solid;
	border-left-color: #FFFFFF;
	border-right-color: #DDDDDD;
	border-width: 0px;
	border-left-width: 1px;
	border-right-width: 1px;
	height: 49px;
	margin-top: 1px;
	float: left;
}
#menu ul li a {
	height: 49px;
}
#menu ul li a img {
	background-image: url(../img/menu/bg_off.png);
	background-position: center;
	background-repeat: repeat-x;
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 17px;
	padding-bottom: 17px;
}
#menu ul li a:hover img ,
#menu ul li.current a img {
	background-image: url(../img/menu/bg_on.png);
}

/* -=-=-=-=-=-=-=-=-=-=-=- pankuzu -=-=-=-=-=-=-=-=-=-=- */
#pankuzu {
	font-size: 12px;
	text-align: left;
	width: 969px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.5em;
	margin-bottom: 2em;
}
#pankuzu ul {
	overflow: hidden;
}
#pankuzu ul li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 6px;
}
#pankuzu ul li a {
	background-image: url(../img/arrow_pnkz.png);
	background-position: right;
	background-repeat: no-repeat;
	display: inline-block;
	padding-right: 9px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- contents -=-=-=-=-=-=-=-=-=-=- */
#contents {
	width: 969px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

/* -=-=-=-=-=-=-=-=-=-=-=- main -=-=-=-=-=-=-=-=-=-=- */
div.main {
	width: 720px;
	float: right;
}
div.main div.contact_area {
	background-image: url(../img/contact/contact_head.png);
	background-position: center top;
	background-repeat: repeat-x;
	padding-top: 28px;
}
div.main div.contact_area div.inner {
	text-align: left;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	border-top-width: 0px;
	padding: 1em;
}
div.main div.contact_area div.inner h5 {
	color: #666666;
	font-size: 16px;
	text-align: left;
	padding-bottom: 0.5em;
}
div.main div.contact_area div.inner p {
	margin-bottom: 1em !important;
}
div.main div.contact_area div.inner a.prp {
	font-size: 12px;
	background-image: url(../img/arrow_sq.png);
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	margin-top: 1em;
	padding-left: 15px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- side -=-=-=-=-=-=-=-=-=-=- */
#side {
	font-size: 12px;
	width: 230px;
	float: left;
}
#side div.products p.title {
	border-style: solid;
	border-color: #333333;
	border-width: 1px;
}
#side div.products p.title a {
	background-image: url(../../products/img/side/navi/bg_ttl.png);
	background-position: center;
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #B2B2B2;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	display: block;
	padding-top: 16px;
	padding-bottom: 15px;
}
#side div.products div.navi {
	
}
#side div.products div.navi dl {
	margin-top: 5px;
}
#side div.products div.navi dl dt {
	border-style: solid;
	border-color: #CCCCCC;
	border-width: 1px;
}
#side div.products div.navi dl dt a {
	background-image: url(../../products/img/side/navi/bg_off.png);
	background-position: center;
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 0px;
	border-left-width: 1px;
	border-top-width: 1px;
	display: block;
	padding-top: 11px;
	padding-bottom: 10px;
}
#side div.products div.navi dl dt a:hover ,
#side div.products div.navi dl dt.current a {
	background-image: url(../../products/img/side/navi/bg_on.png);
}
#side div.products div.navi dd {
	display: block;
}
#side div.products div.navi dd ul li {
	border-style: solid;
	border-top-color: #FEFEFE;
	border-bottom-color: #DDDDDD;
	border-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
}
#side div.products div.navi dd ul li a {
	text-align: left;
	background-color: #F6F6F6;
	display: block;
	padding-left: 10px;
	padding-top: 11px;
	padding-bottom: 10px;
}
#side div.products div.navi dd ul li a img {
	display: block;
}
#side div.products div.pdf {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	padding-top: 14px;
	padding-bottom: 14px;
}
#side div.products ul.banner {
	margin-top: 11px;
	margin-bottom: 16px;
}
#side div.products ul.banner li {
	padding-top: 5px;
}
#side div.pdf p {
	text-align: left;
	padding: 1em;
}
#side div.pdf p a.dl {
	background-image: url(../img/arrow_sq.png);
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	margin-top: 1em;
	padding-left: 15px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- products -=-=-=-=-=-=-=-=-=-=- */
#products h2 {
	text-align: left;
	background-image: url(../../products/img/bg_cnt_title.png);
	background-position: center;
	background-repeat: repeat-x;
	height: 100px;
	margin-bottom: 18px;
}
#products h2 img {
	display: block;
	padding-top: 13px;
	padding-left: 21px;
}
#products h2 div {
	color: #666666;
	line-height: 16px;
	height: 16px;
	padding-left: 21px;
	padding-top: 21px;
}
#products h2 div img {
	vertical-align: baseline;
	display: inline;
	padding-left: 0px;
	padding-top: 0px;
}
#products h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 54px;
	background-image: url(../../products/img/bg_ttl.png);
	background-position: left center;
	background-repeat: no-repeat;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	height: 54px;
	margin-bottom: 15px;
	padding-left: 24px;
}
#products h4 {
	font-weight: bold;
	text-align: left;
	line-height: 32px;
	background-color: #DDDDDD;
	background-image: url(../../products/img/bg_subttl.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 32px;
	margin-bottom: 15px;
	padding-left: 21px;
}
#products p {
	text-align: left;
	margin-bottom: 2em;
}
#products div.img {
	margin-bottom: 2em;
}
#products dl.property {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	margin-bottom: 2em;
	padding-bottom: 1em;
}
#products dl.property dt {
	font-weight: bold;
	background-color: #F6F6F6;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#products ul.att_list {
	font-size: 12px;
	text-align: left;
	margin-left: 2em;
	margin-top: -1em;
	margin-bottom: 2em;
}
#products ul.att_list li {
	list-style-type: disc;
}
#products ul.img_area {
	overflow: hidden;
	margin-bottom: 2em;
	_zoom: 1;
}
#products ul.img_area li {
	font-size: 12px;
	display: inline;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 1em;
	float: left;

}
#products ul.img_area li img {
	display: block;
	margin-bottom: 0.3em;
}
#products ul.pdf {
	text-align: left;
	margin-bottom: 2em;
}
#products ul.pdf li {
	line-height: 16px;
	margin-bottom: 0.5em;
}
#products table ,
#products table th ,
#products table td {
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
}
#products table {
	width: 100%;
	margin-bottom: 2em;
}
#products table th ,
#products table td {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
#products table th {
	font-weight: normal;
	background-color: #F6F6F6;
}
#products table .left {
	text-align: left;
}
#products div.table_tbl {
	display: block;
}
#products div.table_img {
	display: none;
}

/* -=-=-=-=-=-=-=-=-=-=-=- pagetop -=-=-=-=-=-=-=-=-=-=- */
#pagetop {
	position: relative;
	width: 100%;
	height: 52px;
}
#pagetop a {
	position: absolute;
	right: 50%;
	top: 30px;
	margin-right: -484px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- footer -=-=-=-=-=-=-=-=-=-=- */
#footer {
	font-size: 12px;
	background-image: url(../img/footer/bg.png);
	background-position: center;
	background-repeat: repeat-x;
	position: relative;
	width: 100%;
	height: 54px;
}
#footer ul ,
#footer a.logo ,
#footer address {
	position: absolute;
}
#footer ul {
	left: 50%;
	top: 21px;
	margin-left: -312px;
}
#footer ul li {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 0px;
	border-right-width: 1px;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 1em;
	padding-right: 1em;
}
#footer ul li.last {
	border: none;
}
#footer ul li a {
	color: #FFFFFF;
}
#footer a.logo {
	left: 50%;
	top: 17px;
	margin-left: -484px;
}
#footer address {
	color: #FFFFFF;
	font-style: normal;
	right: 50%;
	top: 21px;
	margin-right: -484px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- etc -=-=-=-=-=-=-=-=-=-=- */
a.btn img {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
a.btn:hover img {
	filter: alpha(opacity=76);
	-moz-opacity: 0.76;
	opacity: 0.76;
}
.center {
	text-align: center !important;
}

/* -=-=-=-=-=-=-=-=-=-=-=- media screen -=-=-=-=-=-=-=-=-=-=- */
@media screen and (max-width: 768px) {

body {
	min-width: 0px;
}
#header {
	background-position: center 58px;
	height: 142px;
}
#header h1 {
	left: 12px;
	margin-left: 0px;
}
#header div {
	right: 12px;
	top: 24px;
	margin-right: 0px;
}
#header a.lng {
	right: 12px;
	margin-right: 0px;
}
#header a.logo {
	left: 12px;
	top: 66px;
	margin-left: 0px;
}
#menu {
	margin-bottom: 1em;
}
#menu a.menu_btn {
	text-align: left;
	display: block;
	padding-left: 12px;
	padding-top: 16px;
	padding-bottom: 16px;
}
#menu ul {
	border: none;
	position: absolute;
	display: none;
	width: 100%;
	height: auto;
	z-index: 100;
}
#menu ul li {
	border: none;
	width: 50%;
}
#menu ul li.last {
	width: 100%;
}
#menu ul li a {
	background-image: url(../img/menu/bg_off.png);
	background-position: center;
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	width: 100%;
	display: block;
}
#menu ul li a:hover ,
#menu ul li.current a {
	background-image: url(../img/menu/bg_on.png);
}
#menu ul li a img {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-right: 0px;
}
#pankuzu {
	display: none;
}
#contents {
	width: 100%;
}
div.main {
	width: 100%;
	float: none;
}
#products h2 {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 0px;
	border-top-width: 4px;
	border-bottom-width: 1px;
	background: none;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #E6E6E6),
		color-stop(1, #FEFEFE)
	);
	background-image: -o-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -moz-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -ms-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: linear-gradient(to bottom, #E6E6E6 0%, #FEFEFE 100%);
	box-shadow: 0px 2px 4px 0px rgba(224,224,224,0.8);
	height: auto;
	padding-bottom: 21px;
}
#products h2 img {
	width: 96%;
	max-width: 600px;
}
#products h2 div {
	line-height: 1;
	height: auto;
	padding-left: 27px;
	zoom: 0.8;
}
#products h2 div img {
	width: auto;
}
#products div.img img ,
#products dl.property dd img {
	width: 90%;
}
#side {
	width: 100%;
	float: none;
}
#products h3 ,
#products h4 ,
#products p ,
#products dl.property ,
#products ul.img_area ,
#products ul.pdf ,
div.main div.contact_area ,
#side div.products {
	margin-left: 12px;
	margin-right: 12px;
}
#products ul.att_list {
	margin-left: 4em;
	margin-right: 4em;
}
#products h3 {
	font-size: 16px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #E6E6E6)
	);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-o-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-moz-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-webkit-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-ms-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
	height: auto;
	line-height: 1.4;
	padding-right: 12px;
	padding-top: 1em;
	padding-bottom: 1em;
}
#products div.table_tbl {
	display: none;
}
#products div.table_img {
	display: block;
}
#side {
	border-top-style: solid;
	border-top-color: #DDDDDD;
	border-top-width: 1px;
	margin-top: 2em;
	padding-top: 2em;
	width: auto;
}
#side div.pdf {
	display: none;
}
#side div.products div.navi dd {
	display: none;
}
#pagetop {
	text-align: center;
	border-top-style: solid;
	border-top-color: #DDDDDD;
	border-top-width: 1px;
	height: auto;
	padding-top: 2em;
	padding-bottom: 1em;
}
#pagetop a {
	position: relative;
	right: auto;
	top: 0px;
	margin-right: 0px;
}
#footer {
	background-position: top;
	padding-top: 18px;
}
#footer ul ,
#footer a.logo ,
#footer address {
	position: relative;
	top: 0px;
	left: 0px;
	margin: 0px;
}
#footer a.logo ,
#footer address {
	background-color: #000000;
	display: block;
	padding-top: 1em;
}
#footer address {
	padding-bottom: 1em;
}


}