@charset "utf-8";

/*clearfix */
.clearfix {
	overflow: hidden;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.comment{
	font-size:50%;
}
.box_yerrow{
	margin: 0 200px 0 200px;
	padding: 5px 0 5px 0;
	border: 1px solid #666666;
	color: #C60;
	background-color: #FFC;
	text-align: center !important;
}
.txt_red{
	color: #EC1819;
}
.new {
	color: #FF0000;
	font-weight: bold;
	padding-right: 0.5em;
}
.bold {
	font-weight: bold;
}
.txt_left {
	text-align: left!important;
}
.txt_right {
	text-align: right!important;
}
.txt_example {
	color: #06C!important;
	text-align: center!important;
	margin-bottom: 5px!important;
}

.txt_center{
	text-align: center!important;
}

.mb0{
	margin-bottom:0!important;
}

.mb05{
	margin-bottom:0.5em!important;
}
.mb1{
	margin-bottom:1em!important;
}
.mb2{
	margin-bottom:2em!important;
}
.mt0{
	margin-top:0!important;
}
.ml1s{
	margin-left:1.5em;
}
.mt1{
	margin-top:1em!important;
}
.fs10{
	font-size:10px;
}
.fs14{ 
	font-size:14px!important;
}
.img_left {
	float: left;
	margin-left: 60px;
	margin-bottom: 15px;
}
.img_left div {
	margin-bottom: 5px;
}

.img_right {
	float: right;
	margin-right: 60px;
	margin-bottom: 15px;
}
.img_right div {
	margin-bottom: 5px;
}
.purple{
	background:#CCCCFF;
	width: 318px;
	padding-bottom:30px;
}
.img_left2 {
	float: left;
	margin-left: 30px;
	margin-bottom: 15px;
	width:30%;
}
.img_left2 div {
	margin-bottom: 5px;
}

.img_right2 {
	float: right;
	margin-right: 30px;
	margin-bottom: 15px;
	width: 60%;
}
.img_right2 div {
	margin-bottom: 5px;
}

.img_left3 {
	float: left;
	margin-left: 20px;
	margin-bottom: 15px;
	width: 30%;
}
.img_left3 div {
	margin-bottom: 5px;
}

table.noline{
	border:none;
}
table.noline td{
	text-align:left;
}


.tel_left1 {
	float: left;
	margin-left: 30px;
	margin-bottom: 15px;
}
.tel_left1 div {
	margin-bottom: 5px;
}
.tel_right1 {
	float: right;
	margin-right: 30px;
	margin-bottom: 15px;
	width: 450px;
}
.md_left1 {
	float: left;
	margin-bottom: 15px;
	width: 400px;
	margin-left: 30px;
}
.md_right1 {
	float: right;
	margin-bottom: 15px;
	margin-right: 30px;
}
.md_right1 div {
	margin-bottom: 5px;
}
.pi_left1 {
	float: left;
	margin-bottom: 15px;
	width: 252px;
	margin-left: 30px;
}
.pi_right1 {
	float: right;
	margin-bottom: 15px;
	margin-right: 30px;
	width: 400px;
	text-align:left;
}
.pi_left2 {
	float: left;
	width:45%;
	margin-bottom: 15px;
	margin-left: 30px;
}
.pi_right2 {
	float: right;
	margin-bottom: 15px;
	width:45%;
	margin-right: 30px;

}
.pi_left3 {
	float: left;
	width:45%;
	margin-bottom: 15px;
	margin-left: 10px;
}
.pi_right3 {
	float: right;
	margin-bottom: 15px;
	width:45%;
	margin-right: 10px;

}
.pi_0816{
	text-align:left;
	
}
.pi_0816 dd.odd{
	overflow:hidden;
	margin-bottom:2em;
}
.pi_0816 .left{
	float:left;
	width:200px;
	margin-left:60px;
}
.pi_0816 .right{
	float:left;
	width:200px;

}
.p10_cau{
	color:#F00;
}
.pi10 .left {
	width: 110px;
text-align: right;
float: left;
margin-top: 10px;
font-size: 12px;
margin-bottom: 10px;
}
.pi10 .right {
width: 450px;
text-align: left;
float: left;
margin-top: 10px;
font-size: 12px;
margin-bottom: 10px;
}
.box_yerrow2{
	background:#FC0;
	padding:10px;
	
}

.qa_list{
	margin:1em;
	margin-bottom:4em;
}
.qa_list li{
	margin-bottom:0.5em;
	padding:0.5em;
}
.qa_list li.even{
	background:#eee;
}
.qa_cont{
	text-align:left;
	
}
.qa_cont dl{margin-top:1em;
}
.qa_cont dt{
	background:#EEE;
	line-height: 30px;
}
.qa_cont dd{
	overflow:hidden;
}
.qa_cont dd div.a_no{
	float:left;
	
	width: 50px;
}
.qa_cont dd{
	margin-top:1em;
}
.qa_cont dd div.text{
	float:left;
	width: 646px;
	padding-top:0.5em;
}
.qa_cont .pagetop{
	text-align:right;
}
.tx12{
	font-size:12px!important;
}
.tx22{
	font-size:22px!important;
}
.property_txt1 {
	text-align: left;
	margin-bottom: 0.5em;
	margin-left: 12px;
	margin-right: 12px;
}

.p_list1  {
	margin-bottom: 15px;
}

.p_list1 li {
	text-align: left!important;
	text-indent: -8px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.p_list1 li.txt_center{
	text-align: center!important;
}

.p_list2  {
	margin-bottom: 15px;
}
.p_list2 dt {
	text-align: left!important;
	margin-bottom: 5px;
}
.p_list2 dd {
	text-align: left!important;
	margin-left: 1.5em;
	margin-bottom: 5px;
}

.p_list3  {
	margin-bottom: 15px;
}
.p_list3 dt {
	text-align: left!important;
	margin-bottom: 5px;
}
.p_list3 dd {
	text-align: left!important;
	margin-bottom: 5px;
}
.p_list4  {
	margin-bottom: 15px;
}
.p_list4 dt {
	text-align: left!important;
	margin-bottom: 5px;
	font-weight: bold;
}
.p_list4 dd {
	text-align: left!important;
	margin-left: 0.9em;
	margin-bottom: 15px;
}
.inl  {
	margin-left: 80px;
}
.inl li {
	text-align: center;
	width: 175px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
}


.p_txt1{
	text-align: center!important;
	font-size: 12px!important;
	margin-bottom: 5px!important;
}

.p_txt2{
	text-align: left!important;
	font-size: 14px!important;
	margin-bottom: 5px!important;
	font-weight: bold;
}
.p_txt3{
	text-align: center!important;
	font-size: 12px!important;
	margin-bottom: 2em!important;
}

.p_txt4{
	text-align: left!important;
	font-size: 12px!important;
	margin:30px;
	margin-top:15px;
	margin-bottom: 5px!important;
	
}

.bdn th,.bdn td{
	border:none!important;
}

.h4pdf{
	position:relative;
	top:-8px;
}


/*-----------------enetus--------------*/

#products div#enetus{
	width:570px;
	margin: 0 auto;	
}
#products div#enetus .btn img{
	margin:3px;
}
#products div#enetus .cont1 .left{
	width:60%;
	float:left;
}
#products div#enetus .cont1 .right{
	width:35%;
	float:right;
}

#products div#enetus .cont2 .left{
	width:70%;
	float:left;
}
#products div#enetus .btn img{
	margin:3px;
}
#products div#enetus .cont1 .right{
	width: 35%;
	float:right;
}
#products div#enetus .cont3{
	width:495px;
	margin:0 auto;
}
#products div#enetus .cont3 h5{
	margin-bottom:1em;
}

#products div#enetus .cont3 .left{
	width:180px;
	float:left;
}
#products div#enetus .cont3 .right{
	width:312px;
	float:right;
}

#products table td,#products table th{
	text-align:left;
}


/*-----------------index--------------*/

#products #idx{
	margin-bottom: 2em;
}
#products #idx p.catch{
	line-height:1.8;
}

#products #idx .idxbloc1{
	border: solid 1px #cdcdcd;
	margin-bottom:1em;
}
#products #idx .idxbloc1 .left{
	width: 504px;
	float:left;
	margin: 1.5em;
	text-align: left;
	font-size: 12px;
	line-height: 1.8;
}
#products #idx .idxbloc1 .left p.txt{
	margin-bottom:1em;
}
#products #idx .idxbloc1 .right{
	float:right;
	width: 138px;
	margin:1em;
}
#products #idx .idxbloc2{
	text-align:left;
}
#products #idx .idxbloc2 h4{
	background-color: #fff;
	background-image:none;
	border-bottom:solid 2px #cdcdcd;
	padding-left:0;
	margin-bottom: 5px;
}
#products #idx .idxbloc2 h4.line2{
	height:35px;
	background-color: #fff;
	background-image:none;
	border-bottom:solid 2px #cdcdcd;
	padding-left:0;
	margin-bottom: 5px;
	line-height: 17.5px;
}
#products #idx .idxbloc2 .left{
	width:352px;
	float:left;
	
}
#products #idx .idxbloc2 .right{
	width:352px;
	float:right;
}
#products #idx .idxbloc2 div.clearfix{
	margin-bottom:1em;
}
#products #idx .idxbloc2 .img{
	margin-bottom:0.5em;
	background: #f6f6f6;
	padding:1em 0;
}
#products #idx .idxbloc2 ul li{
	font-size:12px;
	margin-bottom:0.5em;
	background:url(../../products/img/li_icon.gif) no-repeat left;
	padding-left:16px;
	
}
#products #idx .idxbloc2 ul li.nobg{
	font-size:12px;
	margin-bottom:0.5em;
	padding-left:16px;
	background:none;
}

#products #idx .idxbloc3{
	margin-bottom:1em;
	
}
#products #idx ul.idx_list1 {
	border-top: #ccc solid 1px;
}
#products #idx ul.idx_list1 li{
	text-align:left;
	font-size:12px;
	background:url(../../products/img/li_icon.gif) no-repeat left;
	border-bottom: #cdcdcd solid 1px;
	padding:1em;
	padding-left:16px;
	
}
#products #idx ul.idx_list1 li.nl{
	background:none;
	padding-left:0;
	
	
}

/* -=-=-=-=-=-=-=-=-=-=-=- popup -=-=-=-=-=-=-=-=-=-=- */
#popup {
	width: 760px;
	min-width: 760px;
	margin-left: auto;
	margin-right: auto;
}
#popup .button_area {
	text-align: right;
	line-height: 1;
	background-color: #FFFFFF;
	background-image: url(../img/header/bg.png);
	background-position: center top;
	background-repeat: repeat-x;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	border-top-width: 0px;
	padding-right: 1em;
	padding-top: 12px;
	padding-bottom: 8px;
}
#popup .button_area a img {
	vertical-align: initial;
}
#popup #pankuzu {
	width: 100%;
	margin-bottom: 0.5em;
}
#popup h1 {
	text-align: left;
	line-height: 100px;
	background-image: url(../../products/img/bg_cnt_title.png);
	background-position: center;
	background-repeat: repeat-x;
	height: 100px;
	margin-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
#popup h2 {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	line-height: 54px;
	background-image: url(../../products/img/bg_ttl.png);
	background-position: left center;
	background-repeat: no-repeat;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	height: 54px;
	margin-bottom: 0.5em;
	padding-left: 24px;
}
#popup h3 {
	font-weight: bold;
	text-align: left;
	line-height: 32px;
	background-color: #DDDDDD;
	background-image: url(../../products/img/bg_subttl.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 32px;
	margin-bottom: 15px;
	padding-left: 21px;
}
#popup #contents {
	width: auto;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	padding: 2em;
	margin-top: 1em;
}
#popup #contents div.main {
	width: auto;
	float: none;
}
#popup #contents div.main div.table {
	margin-top: 0.5em;
	margin-bottom: 15px;
	overflow: hidden;
}
#popup #contents div.main div.table dl {
	width: 20%;
	float: left;
}
#popup #contents div.main div.table dl dt ,
#popup #contents div.main div.table dl dd {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	border-left-width: 0px;
	padding: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
#popup #contents div.main div.table dl.first dt ,
#popup #contents div.main div.table dl.first dd {
	border-left-width: 1px;
}
#popup #contents div.main div.table dl dt {
	text-align: center;
	background-color: #F6F6F6;
}
#popup #contents div.main div.table dl dd {
	text-align: left;
	border-top-width: 0px;
	height: 6em;
}
#popup #contents div.main table ,
#popup #contents div.main table th ,
#popup #contents div.main table td {
	font-size: 12px;
	text-align: center;
	border-collapse: collapse;
}
#popup #contents div.main table {
	width: 100%;
	margin-bottom: 2em;
}
#popup #contents div.main table th ,
#popup #contents div.main table td {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}
#popup #contents div.main table th.no_bdr ,
#popup #contents div.main table td.no_bdr {
	vertical-align: top;
	border: none;
	padding: 0px;
}
#popup #contents div.main table th {
	font-weight: normal;
	background-color: #F6F6F6;
}
#popup #contents div.main table .left {
	text-align: left;
}
#popup #contents div.main div.table_tbl {
	display: block;
}
#popup #contents div.main div.table_img {
	display: none;
}
#popup #contents div.main dl.att {
	text-align: left;
	position: relative;
}
#popup #contents div.main dl.att dt {
	position: absolute;
}
#popup #contents div.main dl.att dd {
	padding-left: 2em;
}
#popup #contents div.main dl.dd_pdg10 dd {
	padding-left: 10em;
}
#popup #pagetop a {
	margin-right: -380px;
}
#popup #footer {
	margin-top: 0.5em;
}
#popup #footer address {
	text-align: center;
	line-height: 54px;
	position: relative;
	right: initial;
	top: initial;
	margin-right: 0px;
}

/* -=-=-=-=-=-=-=-=-=-=-=- media screen -=-=-=-=-=-=-=-=-=-=- */
@media screen and (max-width: 768px) {


.bdn .img img{
	width:100%;

}




.p_list1  {
	margin-left: 12px;
	margin-right: 12px;
}

.p_list2  {
	margin-left: 12px;
	margin-right: 12px;
}

.p_list3  {
	margin-left: 12px;
	margin-right: 12px;
}

.p_list4  {
	margin-left: 12px;
	margin-right: 12px;
}

.qa_cont dd div.text{
	float:left;
	padding-top:0.5em;
	width:inherit;
	margin:0.5em;
}


.img img{
	margin-bottom:5px;
}

.img_left ,
.img_right ,
.img_left2 ,
.img_right2 {
	text-align:center;
	width: auto;
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 12px;
	float: none;
}
.img_left img ,
.img_right img ,
.img_left2 img ,
.img_right2 img {
	width:100%
}
.tel_left1 {
	float: none;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
}
.tel_left1 div {
	margin-bottom: 5px;
}

.tel_left1 img {
	width:100%
}
.tel_right1 {
	float: none;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 12px;
	width: auto;
}

.tel_right1 p {
	margin-right: 0x;
	margin-left: 0;
	margin-bottom: 0;
}

.md_left1 {
	float: none;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 12px;
	width: auto;
}
.md_right1 {
	float: none;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
}
.md_right1 div {
	margin-bottom: 5px;
}

.md_right1 img {
	width:100%
}
.pi_left1 {
	float: none;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 12px;
	width: auto;
}
.pi_right1 {
	float: none;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
	width: auto;
}
.pi_left2 {
	float: none;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 12px;
	width: auto;
}
.pi_right2 {
	float: none;
	margin-right: 12px;
	margin-left: 12px;
	margin-bottom: 12px;
	width: auto;
}
.pi10 .left {
text-align: right;
float: none;
margin-top: 10px;
font-size: 12px;
margin-bottom: 10px;
}
.pi10 .right {
	width:inherit;
text-align: left;
float: none;
margin:12px;
margin-top: 10px;
font-size: 12px;
margin-bottom: 10px;
}

.mlr1_2{
	margin-left: 5%!important;
	margin-right: 5%!important;
}
.txt_sssz{
	font-size: 70%;
}

.p_txt2{
	margin-left:12px!important;
	margin-right:12px!important;
}

.inl  {
	margin-left: 12px;
	margin-right: 12px;
}
.inl li {
	text-align: center;
	width: auto;
	float: none;
	margin-bottom:10px;
}
.inl li p{
	text-align: left;
	margin:0!important;
}
.inl li img {
	width:100%;
}
.txt_left {
	margin-left: 12px;
	margin-right: 12px;
}


#products div#enetus{
	width:98%;
	margin: 0 auto;	
}
#products div#enetus .cont1 .left,
#products div#enetus .cont1 .right,
#products div#enetus .cont2 .left,
#products div#enetus .cont2 .right,
#products div#enetus .cont3 .left,
#products div#enetus .cont3 .right
{
	float:none;
	width:inherit;
	margin: 0 auto;	
}
#products div#enetus .cont3{
	width:98%;
	margin:0 auto;
}
#products #idx .idxbloc1 {
	width:94%;
	margin:0 auto;
}
#products #idx .left,
#products #idx .right{
	float:none!important;
	width:inherit!important;
}
#products #idx .idxbloc2 ul{
	width:94%;
	margin:0 auto;
}
#products #idx .idxbloc2 h4{
	margin-top:2em;
}
#products #idx .idxbloc2 .img{
	background:#fff;
	padding:0;
}

#products #idx ul.idx_list1 {
	width:94%;
	margin:0 auto;
	border-top: #ccc solid 1px;
}

#popup {
	width: 100%;
	min-width: 0px;
}
#popup #pankuzu {
	display: none;
}
#popup h1 {
	line-height: 1.4;
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 0px;
	border-top-width: 4px;
	border-bottom-width: 1px;
	background: none;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #E6E6E6),
		color-stop(1, #FEFEFE)
	);
	background-image: -o-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -moz-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -webkit-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: -ms-linear-gradient(bottom, #E6E6E6 0%, #FEFEFE 100%);
	background-image: linear-gradient(to bottom, #E6E6E6 0%, #FEFEFE 100%);
	box-shadow: 0px 2px 4px 0px rgba(224,224,224,0.8);
	height: auto;
	padding-top: 21px;
	padding-bottom: 21px;
}
#popup h2 {
	font-size: 16px;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FFFFFF),
		color-stop(1, #E6E6E6)
	);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-o-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-moz-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-webkit-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,-ms-linear-gradient(bottom, #FFFFFF 0%, #E6E6E6 100%);
	background: url(../../products/img/bg_ttl_sp.png) 5px center no-repeat,linear-gradient(to bottom, #FFFFFF 0%, #E6E6E6 100%);
	height: auto;
	line-height: 1.4;
	padding-right: 12px;
	padding-top: 1em;
	padding-bottom: 1em;
}
#popup .h3 {
	font-weight: bold;
	text-align: left;
	line-height: 32px;
	background-color: #DDDDDD;
	background-image: url(../../products/img/bg_subttl.png);
	background-position: left center;
	background-repeat: no-repeat;
	height: 32px;
	margin-bottom: 15px;
	padding-left: 21px;
}
#popup #contents {
	margin-left: 12px;
	margin-right: 12px;
}
#popup #contents div.img img {
	width: 90%;
}
#popup #contents div.main div.table {
	margin-top: 0px;
	margin-bottom: 15px;
}
#popup #contents div.main div.table dl {
	width: auto;
	float: none;
	margin-top: 0.5em;
}
#popup #contents div.main div.table dl dt ,
#popup #contents div.main div.table dl dd {
	border-left-width: 1px;
}
#popup #contents div.main div.table dl dd {
	height: auto;
}
#popup #contents div.main div.table_tbl {
	display: none;
}
#popup #contents div.main div.table_img {
	display: block;
}
#popup #pagetop {
	border: none;
}
#popup #pagetop a {
	margin-right: 0px;
}
#popup #footer {
	margin-top: 0.5em;
}






img.org {
	width: auto !important;
}

}

/* /PRODUCTS/INFR/PI/CATALOG.HTML */
#catalog h2 {
	background: none;
	height: auto;
	line-height: 0;
}
#catalog h3 {
	background: url(/products/infr/pi/img/img_catalog_subttl.gif) left no-repeat;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	padding-left: 26px;
	margin-top: 20px;
	margin-bottom: 10px;
}
#catalog p { text-align: left; font-size: 12px;}
#catalog .pdf {
	border-style: solid;
	border-color: #DDDDDD;
	border-width: 1px;
	padding: 14px;
	text-align: left;
	margin-top: 20px;
}
#catalog .pdf p {
	text-align: left;
	font-size: 12px;
	margin-top: 5px;
}
#catalog .pdf p .dl {
	background-image: url(../img/arrow_sq.png);
	background-position: left;
	background-repeat: no-repeat;
	display: block;
	margin-top: 5px;
	padding-left: 15px;
}
#catalog table {
	background: #dddddd;
	width: 100%;
	margin-top: 15px;
	}
	#catalog table th { vertical-align: top; padding: 10px 0; background: #f6f6f6; text-align: center; font-size: 12px; font-weight: normal;}
	#catalog table th.head { background: #dddddd; font-weight: bold;}
	#catalog table td { font-size: 12px; text-align: left; background: #fff; padding: 10px;}
	#catalog table td a { display: block; background: url(/products/infr/pi/img/icon_pdf.gif) left no-repeat; padding-left: 20px;}
	#catalog table .tc { text-align: center; padding-bottom: 50px;}
	#catalog table .cbox { text-align: center!important;}